<style>
  .list-group-item{
    cursor: pointer;
  }
</style>

<div class="list-group">
  <a href="/dashboardpancel" class="list-group-item list-group-item-action active" aria-current="true">Dashboard</a>
  <a href="/catagoryget" class="list-group-item list-group-item-action">Catagory Item</a>
  <a href="/productget" class="list-group-item list-group-item-action">Product Item</a>
  <a href="#" class="list-group-item list-group-item-action">Order Item</a>
  <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Admin User</a>
</div>

 